    <div class="wrapper-masthead">
      <div class="container">
        <header class="masthead clearfix">
          <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.avatar }}" alt="{{ site.name }}" /></a>

          <nav>
            <a href="{{ site.baseurl }}/">Home</a>
            <a href="{{ site.baseurl }}/about">About</a>
            <a href="https://www.dropbox.com/s/kn0qr8ivox5tpfx/DuncanCai_Resume_SWE.pdf?dl=0">Resume</a>
          </nav>
        </header>
      </div>
    </div>
